.idea/
.hypothesis/
slow\-unit*
crash\-*
__pycache__/
\venv
~$sters project notes.docx
*.tmp
*.log
mutmut_test/*
fixed_mutants/*
fixed_mutants_annotated/*
SortedContainers_mutants/*
!mutmut_test.gitkeep
RunMutationTests.py
MutationTestDir/RunMutationTests.py
MutationTestDir/.mutant_coverage
